html {
    /* For Internet Explorer, Edge */
    -ms-overflow-style: none;
    /* For Firefox */
    scrollbar-width: none;
}

/* For Chrome, Safari, and Opera */
html::-webkit-scrollbar {
    display: none;
}

body { 
    margin: 0px 30px 20px 30px;    
}

/* Catalogue Page */

.pg-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pg-heading>button {
    display: flex;
}

.top-section>h3 {
    margin-left: 40%;
}
.top-section>form {
    margin-left: 14%;
}
/* #top-header {

}

.bookform {

}

.bottom-section {

}

#catalogue-header {

} */

.catalogue-list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: bisque;
    padding-top: 20px;
}

/* #catalogue-list div {
    margin-right: 20px;
    margin-bottom: 20px; 
} */

.new-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 0px 20px 10px 20px;
    outline: outset black 2px;
    border-radius: 30px;
}

.card-img {
    height: 400px;
    width: 300px;
}

.del-button {
    margin-top: 20px;
    height: 30px;
    width: 60px;
}

/* Search Page */

#search-page {
    display: none;
}
    
.searchform {
    display: flex;
}

#search-box {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 660px;
    height: 30px;
    padding-left: 20px;
}

#search-btn {
    margin-left: 10px;
}